<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>final</title>
</head>

<body>
    <hr>
    <div>
        <h1>home view</h1>
        <% if (prueba) { %>
            <p><%= prueba %> </p>
        <% } %>
    </div>
    <div>
        <a href="/">
            <div>
                <img src="https://raw.githubusercontent.com/Franck-01/Project-SW/master/public/images/SWTFA.png" />
            </div>
        </a>
        <h2>Escoje tus naves, inspecciona el arsenal y crea la flota mas poderosa que la galaxia haya visto</h2>
        <a href="/profile">Profile</a>
        <a href="/login">Login</a>
        <a href="/signup">Sign Up</a>
        <a href="/products">Product Creator</a>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/ejs@3.1.6/ejs.min.js"></script>

</body>

</html>