<h1>Login</h1>

<a href="/">Home</a>

<form action="/loginForm" method="post">
    Username:</br>
    <input type="text" name="username" /></br>
    Password:</br>
    <input type="password" name="password" /></br>
    <input type="submit" value="Login" /></br>
</form>
<a href="/signup">You are not registered yet?</a>
