<h1>Productos disponibles</h1>
<div>
    <form id="shipForm" action="/products" method="post">
        Name:</br>
        <input type="text" name="name" /></br>
        Model:<br>
        <input type="text" name="model" /></br>
        Bando:</br>
        <input type="text" name="bando" /></br>
        Description:</br>
        <input type="text" name="description" /></br>
        URL:</br>
        <input type="text" name="url" /></br>
        Price:</br>
        <input type="number" name="price" /></br>
        Stock:</br>
        <input type="number" name="stock" /></br>
        <input type="submit" value="Create Ship" /></br>
    </form>
    <span id="views"></span>
    
</div>
