<h1>Signup</h1>

<a href="/">Home</a>

<form action="/signupForm" method="post">
    Name:</br>
    <input type="text" name="name" /></br>
    Age(optional):</br>
    <input type="number" name="age" /></br>
    Mail:</br>
    <input type="email" name="mail" /></br>
    Phone:</br>
    <input type="tel" name="phone" /></br>
    Username:</br>
    <input type="text" name="username" /></br>
    Password:</br>
    <input type="password" name="password" /></br>
    <input type="submit" value="Signup" /></br>
</form>
<a href="/login">Do you already have a session?</a>
